@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    flex-grow: 1;
    flex-basis: 20%;
    order: -1;
}
main{
    display: flex;
    flex-basis: 800px;
}
footer{
    flex-grow: 1;
    flex-basis: 20%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: height 0.5s ease-out;
}

a {
    font-size: 40px;
    margin: 20px;
    text-decoration: none;
    color: #95a5a6;
    font-family: raleway;
    border-bottom: 1px solid #52c9aa;
    transition: color 0.5s ease-out font-size 5s ease-out;
}

.article{
    border: 5px solid cyan;
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 60%;
}
.sideNav{
    flex-basis: 20%;
    order: -1;
    flex-grow: 1;
}
.sideNav li {
    list-style: none;
}
.aside{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100px;
}
.box{
    background: darkcyan;
    flex-basis: 200px;
    flex-grow: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    transition: background 0.5s ease-out;
}
.box:hover{
    background: lightblue;
    cursor: pointer;
}
.middle{
    background: teal;
}

a:hover {
    color: #3498db;
    border-bottom-color: #3498db;
}

i {
    margin-right: 10px;
}

@media screen and (max-width: 920px) {
    nav {
        justify-content: space-around;
    }
    a {
        font-size: 26px;
    }
}
@media all and  (max-width: 640px){
    main{
        flex-direction: column;
        flex-grow: 1;
    }
    .sideNav{
        order: 0;
    }
    header, footer{
        flex-basis: 50px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        background: #34495e;
    }
    nav:hover {
        height: 100%;
        transition: height 1s ease-in;
    }
    a {
        color: white;
        border: none;
    }
}