.hcp-breadcrumbs {
  padding:0;
  margin: 0;    
} 
ol.hcp-breadcrumbs { 
overflow:hidden;
margin:auto;
display:table;
}
ol.hcp-breadcrumbs li {
margin-right:-.25em;
line-height:.45em;
/* padding:1em 2em; */
padding: 1em 1.5em;
background:linear-gradient(60deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) top  left no-repeat, linear-gradient(-120deg, transparent 1em, #3498db 1em, #3498db 55%, transparent 55%) top no-repeat, linear-gradient(-60deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) bottom  left no-repeat, linear-gradient(120deg, transparent 1em, #3498db 1em, #3498db 55%, transparent 55%) bottom   no-repeat;  
background-size:100% 51.5%;  
vertical-align: middle;
display: table-cell;
}
ol.hcp-breadcrumbs li.first {
background:linear-gradient(90deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) top  left no-repeat, linear-gradient(-120deg, transparent 1em, #3498db 1em, #3498db 55%, transparent 55%) top no-repeat, linear-gradient(-60deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) bottom  left no-repeat, linear-gradient(90deg, transparent 1em, #3498db 1em, #3498db 55%, transparent 55%) bottom   no-repeat;  
background-size:100% 51.5%;  
}
ol.hcp-breadcrumbs li.last {
background:linear-gradient(60deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) top  left no-repeat, linear-gradient(-90deg, transparent 1em, #3498db 1em, #3498db 75%, transparent 55%) top no-repeat, linear-gradient(-90deg, transparent  1em, #3498db 1em, #3498db 75%, transparent 50%) bottom  left no-repeat, linear-gradient(120deg, transparent 1em, #3498db 1em, #3498db 55%, transparent 55%) bottom   no-repeat;  
background-size:100% 51.5%;  
}
/* 
ol.hcp-breadcrumbs li.last {
background:linear-gradient(60deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) top left no-repeat, linear-gradient(-90deg, transparent 1em, #3498db 1em, #3498db 75%, transparent 55%) top no-repeat, linear-gradient(-90deg, transparent  1em, #3498db 1em, #3498db 50%, transparent 50%) bottom left no-repeat, linear-gradient(120deg, transparent 1em, #3498db 1em, #3498db 75%, transparent 55%) bottom no-repeat;  
background-size:100% 51.5%;  
}  
*/
ol.hcp-breadcrumbs li.first.current{
  background:linear-gradient(90deg, transparent  1em, #34495e 1em, #34495e 50%, transparent 50%) top  left no-repeat, linear-gradient(-120deg, transparent 1em, #34495e 1em, #34495e 55%, transparent 55%) top no-repeat, linear-gradient(-60deg, transparent  1em, #34495e 1em, #34495e 50%, transparent 50%) bottom  left no-repeat, linear-gradient(90deg, transparent 1em, #34495e 1em, #34495e 55%, transparent 55%) bottom   no-repeat;          
  background-size:100% 51.5%;  
}
ol.hcp-breadcrumbs li.last.current{
  background:linear-gradient(60deg, transparent  1em, #34495e 1em, #34495e 50%, transparent 50%) top left no-repeat, linear-gradient(-90deg, transparent 1em, #34495e 1em, #34495e 75%, transparent 55%) top no-repeat, linear-gradient(-90deg, transparent  1em, #34495e 1em, #34495e 50%, transparent 50%) bottom left no-repeat, linear-gradient(120deg, transparent 1em, #34495e 1em, #34495e 75%, transparent 55%) bottom no-repeat;      
  background-size:100% 51.5%;  
}
ol.hcp-breadcrumbs li.section.current {
  background:linear-gradient(60deg, transparent  1em, #34495e 1em, #34495e 50%, transparent 50%) top  left no-repeat, linear-gradient(-120deg, transparent 1em, #34495e 1em, #34495e 55%, transparent 55%) top no-repeat, linear-gradient(-60deg, transparent  1em, #34495e 1em, #34495e 50%, transparent 50%) bottom  left no-repeat, linear-gradient(120deg, transparent 1em, #34495e 1em, #34495e 55%, transparent 55%) bottom   no-repeat;  
  background-size:100% 51.5%;
}
ol.hcp-breadcrumbs a.list-link {
text-decoration:none;
color:white;
font-variant:small-caps;
font-weight:bold;
transition:0.2s;
line-height:1em;
cursor: default;
}
@media all and (max-width:2700px) {ol.hcp-breadcrumbs {font-size:20px;transition:1s;}}
@media all and (max-width:2000px) {ol.hcp-breadcrumbs {font-size:20px;transition:1s;}}
@media all and (max-width:1600px) {ol.hcp-breadcrumbs {font-size:20px;transition:1s;}}
@media all and (max-width:1200px) {ol.hcp-breadcrumbs {font-size:18px;transition:1s;}}
@media all and (max-width:1100px) {ol.hcp-breadcrumbs {font-size:16px;transition:1s;}}
@media all and (max-width: 900px) {
ol.hcp-breadcrumbs {font-size:13px;transition:1s;}
ol.hcp-breadcrumbs li, ol.hcp-breadcrumbs li.first, ol.hcp-breadcrumbs li.last, ol.hcp-breadcrumbs li.section, ol.hcp-breadcrumbs li.section.current  {
  background-size:100% 52.5%;  
}
}
@media all and (max-width: 700px) {ol.hcp-breadcrumbs {font-size:12px;transition:1s;}}
@media all and (max-width: 500px) {ol.hcp-breadcrumbs {font-size:10px;transition:1s;}}
@media all and (max-width: 300px) {ol.hcp-breadcrumbs {font-size: 8px;transition:1s;}} 



