<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body class="flex-wrapper" id="wrapper">
    <header>
        <button type="button" ui-scrollpoint class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href>
                        Practice Name
                    </a>
                </li>
                <li>
                    <a href ng-click="$app.actionService.scope(this).page('home')" class="closeSideNav" data-toggle="offcanvas">Home</a>
                </li>
                <li>
                    <a href ng-click="$app.porticoService.scope(this).page('patient_search')" class="closeSideNav" data-toggle="offcanvas">Patients</a>
                </li>
                </li>
                <li>
                    <a href ng-click="$app.actionService.scope(this).page('resource_links')" class="closeSideNav" data-toggle="offcanvas">Resources</a>
                </li>
                <li>
                    <a href ng-click="$app.actionService.scope(this).page('settings_info')" class="closeSideNav" data-toggle="offcanvas">Settings</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="flex-content">
        <h2>Home</h2>
    </div>
    <script src="scripts.js"></script>
</body>

</html>