@import url('https://fonts.googleapis.com/css?family=Lato');
body,
html {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #34495e;
    background-color: #fff;
}

.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-content {
    flex: 1 0 auto;
}

/* NAV */

.nav .open>a {
    background-color: transparent;
}

.nav .open>a:hover {
    background-color: transparent;
}

.nav .open>a:focus {
    background-color: transparent;
}

/* WRAPPER */

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#wrapper.toggled #page-content-wrapper {
    background-color: #fff;
    margin-right: -220px;
    position: absolute;
}

#wrapper.toggled footer {
    display: none;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    width: 100%;
}

/* SIDENAV */

.sidebar-nav {
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}

.sidebar-nav li:before {
    background-color: #1566a4;
}

.sidebar-nav li:hover {
    background-color: #1566a4;
    color: #fff;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav .dropdown.open li a {
    font-weight: 500;
    transition: none;
}

.dropdown-header {
    color: #fff;
    font-weight: 700;
}

.dropdown-header li:hover {
    color: #fff;
    font-weight: 700;
}

.sidebar-nav .dropdown-menu li:hover {
    background-color: transparent;
    text-decoration: none;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

/* HAMBURGER */

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: absolute;
    top: 74px;
    width: 32px;
    z-index: 999;
}

.hamburger:hover {
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    background-color: #fff;
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

/* OVERLAY */

.overlay.is-open {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 1s ease;
    z-index: 998;
}

.overlay.is-closed {
    background-color: transparent;
    transition: background-color 1s ease;
    display: block;
    z-index: -1;
    width: 0;
    height: 0;
}

/* BREADCRUMBS */

#breadcrumb {
    list-style: none;
    display: inline-block;
    transition: none;
}

#breadcrumb .icon {
    font-size: 14px;
}

#breadcrumb li {
    float: left;
    background-color: white;
}

#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    transition: 0s;
}

#breadcrumb li:first-child a {
    padding-left: 15px;
}

#breadcrumb li:first-child a:before {
    border: none;
}

#breadcrumb li:last-child {
    background-color: #3498db;
}

#breadcrumb li:last-child a {
    padding-right: 15px;
}

#breadcrumb li:last-child a:after {
    border: none;
}

#breadcrumb li a:before,
#breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}

#breadcrumb li a:hover {
    background-color: #fff;
    color: #3498db;
}

#breadcrumb li a:hover:before {
    border-color: #fff;
    border-left-color: transparent;
}

#breadcrumb li a:hover:after {
    border-left-color: #fff;
}

#breadcrumb li a:active {
    background-color: #555555;
}

#breadcrumb li a:active:before {
    border-color: #555555;
    border-left-color: transparent;
}

#breadcrumb li a:active:after {
    border-left-color: #555555;
}

#breadcrumb li a.active {
    background-color: #34495e;
    color: #fff;
}

#breadcrumb li a.active:before {
    border-color: #34495e;
    border-left-color: transparent;
}

#breadcrumb li a.active:after {
    border-left-color: #34495e;
}

#breadcrumb-wrapper {
    min-width: 350px;
    background-color: #3498db;
    height: 40px;
}

#breadcrumb-wrapper input-group input {
    height: 40px;
    border-radius: 0px;
}

/* #breadcrumb-wrapper a{
    color: white;
    line-height: 2.2;
    text-decoration: none;
} */

#breadcrumb-wrapper a {
    color: white;
    line-height: 2.3;
    text-decoration: none;
    font-size: 18px;
}

#breadcrumb-wrapper a:hover {
    color: lightgray;
    text-decoration: none;
}

/* HCP HOME PAGE */

.hcp-page {
    background-color: #fff;
}

/* ALL PAGES */

#main-content {
    background-color: #fff;
}

header {
    height: 70px;
    background-color: #fff;
}

.header-logo {
    position: absolute;
    top: 5px;
    left: 5px;
}

.navbar.navbar-default {
    min-height: 70px;
}

.navbar-default {
    border: none;
    border-bottom: 8px solid #4b9cd6;
    padding-bottom: 12px;
}

.navbar-brand div.title {
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 220px;
}

.input-group {
    z-index: 997;
}

.ui-scrollpoint {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998 !important;
}

.hamburger.ui-scrollpoint {
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 3px;
    width: 32px;
    z-index: 9999 !important;
}

footer {
    background-color: #1566a4;
    color: #bac1c8;
    padding: 20px;
}

footer a:hover {
    color: white;
}

footer p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
}

.panel-default {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

.panel-default .h3 {
    color: #6298C6;
}

.panel-default label {
    color: #6298C6;
    display: inline-block;
    margin-top: 12px;
}

.panel-default label.multiline {
    margin-top: 5px;
}

.panel-default>.panel-heading {
    border-radius: inherit;
    background-color: #1566a4;
    color: #fff;
}

.panel-heading>.panel-title {
    font-size: 20px;
}

.panel-data-title {
    color: #3498db;
}

.panel-site-title {
    font-weight: bold;
}

.panel-body {
    padding: 40px 30px;
}

.panel-body.table {
    padding: 0;
}

.panel-body>.table {
    margin-bottom: 0px;
}

.nav-pills>li>a {
    cursor: pointer;
    background-color: #eee;
}

.nav-tabs {
    border: none;
}

.nav-tabs>li>a {
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF;
    border-radius: 0;
    cursor: pointer;
    margin-right: 0;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.btn-primary {
    background-color: #6298C6;
}

.btn-primary:hover {
    background-color: #34495e;
}

/* SIDE SCROLL  */

.nav_ribbon_wrapper {
    position: relative;
    padding: 0 25px;
    box-sizing: border-box;
}

.nav_ribbon_wrapper {
    min-width: 350px;
    background-color: #3498db;
    height: 40px;
}

.nav_ribbon_wrapper input-group input {
    height: 40px;
    border-radius: 0px;
}

.nav_ribbon_wrapper>a {
    text-decoration: none;
    color: white;
    line-height: 2.2;
    text-decoration: none;
}

.nav_ribbon {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    font-size: 0;
}

.js .nav_ribbon {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.js .nav_ribbon::-webkit-scrollbar {
    display: none;
}

.nav_ribbon_contents {
    float: left;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.nav_ribbon_contents>li {
    display: inline-block;
    background-color: white;
}

.nav_ribbon_contents>li:first-child>a {
    padding-left: 15px;
}

.nav_ribbon_contents>li>a:before,
.nav_ribbon_contents>li>a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

.nav_ribbon_contents>li>a:before {
    left: -20px;
    border-left-color: transparent;
}

.nav_ribbon_contents>li>a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}

.nav_ribbon_contents>li:first-child>a:before {
    border: none;
}

.nav_ribbon_contents>li:last-child>a:after {
    background-color: #3498db;
}

.nav_ribbon_contents li:last-child a:after {
    border: none;
}

.nav_ribbon_contents>li:last-child>a {
    margin-right: 0;
    padding-right: 15px;
}

.nav_ribbon_contents>li>a:hover {
    background-color: #fff;
    color: #3498db;
}

.nav_ribbon_contents>li>a:hover:before {
    border-color: #fff;
    border-left-color: transparent;
}

.nav_ribbon_contents>li>a:hover:after {
    border-left-color: #fff;
}

.nav_ribbon_contents-no-transition {
    -webkit-transition: none;
    transition: none;
}

/* LINKS */

.nav_ribbon_link {
    font-size: 1.2rem;
    font-family: -apple-system, sans-serif;
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none !important;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    transition: 0s;
}

.nav_ribbon_link[aria-selected="true"] {
    color: #fff;
    background-color: #34495e;
}

.nav_ribbon_link[aria-selected="true"]:before {
    border-color: #34495e;
    border-left-color: transparent;
}

.nav_ribbon_link[aria-selected="true"]:after {
    border-left-color: #34495e;
}

/* NAV ARROW */

.nav_arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.nav_arrow:focus {
    outline: 0;
}

.nav_arrow:hover {
    cursor: pointer;
}

.nav_arrow_left {
    left: 0;
}

[data-overflowing="both"]~.nav_arrow_left,
[data-overflowing="left"]~.nav_arrow_left {
    opacity: 1;
}

.nav_arrow_right {
    right: 0;
}

[data-overflowing="both"]~.nav_arrow_right,
[data-overflowing="right"]~.nav_arrow_right {
    opacity: 1;
}

.nav_arrow_icon {
    width: 20px;
    height: 44px;
    fill: #bbb;
}

.nav_ribbon_indicator {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: transparent;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out, background-color .2s ease-in-out;
    transition: transform .2s ease-in-out, background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.padding-right-1em {
    padding-right: 1em;
}

/* SIDE SCROLL  */

@media(max-width:768px) {
    .nav_arrow_left,
    .nav_arrow_right {
        display: none;
    }
    .service-card-column {
        min-height: 370px !important;
    }
    a.active .breadcrumb-text {
        display: inline;
    }
    a.active .breadcrumb-number {
        display: none;
    }
    .breadcrumb-number {
        display: inline;
    }
    .breadcrumb-text {
        display: none;
    }
}

@media(min-width:768px) {
    .breadcrumb-number {
        display: none;
    }
    .breadcrumb-text {
        display: inline;
    }
}

@media(min-width:992px) {}

@media(min-width:1200px) {}