.nav{
    height: 70px;
    margin-bottom:0px;
}
.bg-primary{
    background-color: #fcd10d;
}
.img-responsive{
    display: inline;
}
.header-links{
    padding: 10px 10px;
    color: black;
    text-align: left;
}
.header-links a {
    color: black;
}
.header-links a:hover{
    text-decoration: none;
}
.header-links span{
    padding: 10px;
}
.header-links p:nth-child(2) span:nth-child(1){
    padding-left: 0px;
}
.header-logo{
    height:40px;
    width: auto;
    margin: 15px 15px;
}
.drug-links{
    font-size: 12px;
}
.pharma-links{
    font-weight: 600;
}
.inverse-link{
    background-color: black;
    border-radius: 5px;    
    text-align: center;
}
.inverse-link a {
    color: #fcd10d;
}