@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";

body,
html {
    height: 100%;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #1566a4;
}

/* flat ui chunks */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 30px;
    margin-bottom: 15px
}

h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 15px
}

h6 {
    font-weight: 400
}

h1,
.h1 {
    font-size: 61px
}

h2,
.h2 {
    font-size: 53px
}

h3,
.h3 {
    font-size: 40px
}

h4,
.h4 {
    font-size: 29px
}

h5,
.h5 {
    font-size: 28px
}

h6,
.h6 {
    font-size: 24px
}

p {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.72222
}

.page-header {
    padding-bottom: 14px;
    margin: 60px 0 30px;
    border-bottom: 2px solid #e7e9ec
}

footer {
    color: #bac1c8;
}

footer p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
}

header .nav .open>a {
    background-color: transparent;
}

header .nav .open>a:hover {
    background-color: transparent;
}

header .nav .open>a:focus {
    background-color: transparent;
}

/* WRAPPER */

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}

#wrapper.toggled footer {
    display: none;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}

/* SIDENAV */

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}

.sidebar-nav li:before {
    background-color: #1566a4;
}

.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

/* CUSTOM */

.sidebar-nav .dropdown.open li a:hover {
    color: #1566a4;
}

.sidebar-nav .dropdown.open li a {
    font-weight: 700;
    transition: none;
}

.dropdown-header {
    color: #fff;
    font-weight: 700;
}

.dropdown-header li:hover {
    color: #fff;
    font-weight: 700;
}

.sidebar-nav .dropdown-menu li:hover {
    background-color: transparent;
    text-decoration: none;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}


/* HAMBURGER */

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: relative;
    margin-top: 4px;
    width: 32px;
    z-index: 999;
}

.hamburger:hover {
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    background-color: #fff;
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #fff;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

/* OVERLAY */

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* BREADCRUMBS */

#breadcrumb {
    list-style: none;
    display: inline-block;
    transition: none;
}

#breadcrumb .icon {
    font-size: 14px;
}

#breadcrumb li {
    float: left;
    background-color: white;
}

#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    transition: 0s;
}

#breadcrumb li:first-child a {
    padding-left: 15px;
}

#breadcrumb li:first-child a:before {
    border: none;
}

#breadcrumb li:last-child {
    background-color: #3498db;
}

#breadcrumb li:last-child a {
    padding-right: 15px;
}

#breadcrumb li:last-child a:after {
    border: none;
}

#breadcrumb li a:before,
#breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}

#breadcrumb li a:hover {
    background-color: #fff;
    color: #3498db;
}

#breadcrumb li a:hover:before {
    border-color: #fff;
    border-left-color: transparent;
}

#breadcrumb li a:hover:after {
    border-left-color: #fff;
}

#breadcrumb li a:active {
    background-color: #555555;
}

#breadcrumb li a:active:before {
    border-color: #555555;
    border-left-color: transparent;
}

#breadcrumb li a:active:after {
    border-left-color: #555555;
}

#breadcrumb li a.active {
    background-color: #184868;
    color: #fff;
}

#breadcrumb li a.active:before {
    border-color: #184868;
    border-left-color: transparent;
}

#breadcrumb li a.active:after {
    border-left-color: #184868;
}

/* CUSTOM STYLES */
header{
    position: relative;
}

#main-content {
    background-color: #fff;
}

#breadcrumb-wrapper {
    min-width: 350px;
    background-color: #3498db;
    height: 40px;
}

p {
    color: #bac1c8;
}

footer {
    background-color: #1566a4;
    padding: 20px;
}

footer a:hover {
    color: white;
}
.background-blue{
    background-color: #3498db;
}