* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    height:100%;
    width: 100%;
    background: linear-gradient(#1e4e71, white);
    min-width: 1280px;
}

.main{    
    margin: 60px;
    margin-top: 100px;
    min-width: 1024px;
    background-color: white;
    padding: 40px;
    font-family: sans-serif;
    border-radius: 50px;
    color: #555555;    
}

.page-title{
    font-size: 36px;
    color: #0c71b8;
}
.blue{
    background-color: #0c71b8;
}
.green {
    background-color: #20b14a;
}
.info{
    color: white;
    border-radius: 23px;
    padding: 15px;
    margin: 20px 0;
    max-width: 520px;
}
.info-title{
    font-size: 20px;
    font-style: italic;
}
hr{
    height: 3px;
    margin: 15px 0;
}
.section-title{
    font-size: 24px;
    color: #0c71b8;
}
form{
    margin: 30px 0;
}
.omnitrope-logo{
    position: absolute;
    top: 0;
    right: 350px;
    height: 125px;
    width: 200px;
    padding: 20px;
    background-color: #0c71b8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 20px #1e4e71;
}
.omnitrope-logo img {
    margin-top: 30px;
}
.omnisource-logo{
    position: absolute;
    top: 0;
    right: 120px;
    height: 125px;
    width: 200px;
    padding: 20px;
    background-color: #20b14a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 20px #1e4e71;
}
.omnisource-logo img{
    margin-top: 40px;
}
.sandoz img{
    margin-top: 30px;
    max-height: 30px;
}

@media (max-width: 1200px){
    .main{    
        margin: 100px auto 60px auto;
        min-width: 800px;
        background-color: white;
        padding: 40px;
        font-family: sans-serif;
        border-radius: 50px;
        color: #555555;    
    }

    .omnitrope-logo{
        right: 200px;
        height: 125px;
        width: 180px;
    }
    .omnitrope-logo img {
        margin-top: 45px;
    }
    .omnisource-logo{
        position: absolute;
        top: 0;
        right: 0;
        height: 125px;
        width: 180px;
    }
    .omnisource-logo img{
        margin-top: 50px;
    }    
}

@media (max-width: 768px){
    .main{    
        margin: 100px auto 60px auto;
        min-width: 700px;
        background-color: white;
        padding: 40px;
        font-family: sans-serif;
        border-radius: 50px;
        color: #555555;    
    }

    .omnitrope-logo{
        right: 150px;
        height: 125px;
        width: 120px;
    }
    .omnitrope-logo img {
        margin-top: 55px;
    }
    .omnisource-logo{
        right: 20px;
        height: 125px;
        width: 120px;
    }
    .omnisource-logo img{
        margin-top: 60px;
    }    
}